.play, .lessvol, .morevol, .stop{
    width: 100px;
    height: 100px;
    float: right;
  }
  .logo, .animation{
    width: 100px;
    height: 100px;
    float: left;
  }
  .main{
    width: 100%;
  }
  .left{
    float: left;
    width: 50%;
  }
  .right{
    float: right;
    width: 50%;
  }
  .my{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-left: 250px;
  }
  .animation{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-left: 200px;
  }
  .text{
    position: relative;
    margin-top: 250px;
  }
  .mail{
    width: 100px;
    height: 100px;
    background: url('images/mail.ico')0 0;
  }
  .mail:hover{
    background: rgb(0, 70, 251);
  }
  .animation:hover{
    background: rgb(251, 0, 0);
  }
  i {
  	background: #205D7A;
  	color: #fff;
  	width: 4%;
  	height: 4%  ;
  	border-radius: 2%;
  	font-size: 2.5%;
  	text-align: center;
  	margin-right: 1%;
    padding: 0.1%
  }
  .fa-facebook {
  	background:#3b5998
  }
  .fa-linkedin {
  	background:#007bb6
  }
  .fa-twitter {
  	background:#00aced
  }
  .fa-google-plus-square {
  	background:#dd4b39
  }
  .fa-facebook:hover {
  	background:blue;
  }
  .fa-linkedin:hover {
  	background:rgb(0, 140, 255);
  }
  .fa-twitter:hover {
  	background:rgb(0, 201, 255);
  }
  .fa-google-plus-square:hover {
  	background:red;
  }
  iframe{
    width: 100%;
  }
  video{
    width: 100%;
  }
