*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.img{
  display: none;
}
.section1{
  background-color: green;
  height: 200px;
  width: 25%;
}
.section2{
  background-color: yellow;
  height: 200px;
  width: 25%;
}
.section3{
  background-color:rgb(0, 255, 224);
  height: 200px;
  width: 25%;
}
.header{
  background-color: red;
  height: 200px;
}

[class="col-*"]{
  float:left;
  padding: 1.25%
}
