table{
  text-align: center;
  border-collapse: collapse;
  /*En este caso la anchura de la tabla es fija independientemente de lo que extenso que sea el contenido de dentro*/
  table-layout: fixed;
  /*En este caso la anchura de la tabla va modificandose dependiendo de lo extenso que sea el contenido de la tabla
  table-layout: auto;*/
  /*Esta propiedad sirve para que la anchura de la tabla sea heredada del elemento padre
  table-layout: inherit;*/
}
table, td, tr {
    border: 1px solid black;
}

.image1{
  background-image: url('http://javimarcos.com/wp-content/uploads/2014/05/CSS3Logo.jpg');
  background-size: 50px 50px;
  caption-side: bottom;
  background-repeat: no-repeat;
  text-align: right;
  background-position: 5px 5px;
}
.image2{
  background-image: url('http://oleblogs.com/wp-content/uploads/2013/08/html5-wordpress.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  text-align: right;
  background-position: 5px;
}
tr:nth-child(even){
  background-color: rgb(165, 165, 168);
}
.image1:active{
  background-color:  #FFFF66;
}
.image2:active{
  background-color:  #FFFF66;
}
.unit1,.unit2{
  width: 120px;
}
.image1,.image2{
  height: 60px;;
}
caption{
  font-style: italic;
}
