/*Reseteamos el modelo de cajas*/
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/*Estilo base*/
body {
font-family: 'Indie Flower', cursive;
}
.header {
background-color: #9933cc;
color: #ffffff;
padding: 1.25%;
display: table; /*Compórtate como una tabla*/
width:100%;

}
/*div.logo y h1 se comportan como celdas de la tabla*/
.logo{
  display: table-cell;
  vertical-align: middle;
}
.logo img{
  width: 16.66%;
  margin: 0.83%;
}
.header h1{
  vertical-align: middle;
  display: table-cell;
  text-transform: capitalize;
}
.footer {
background-color: #9933cc;
color: #ffffff;
padding: 1.25%;
text-align: center;
}
.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.menu li {
padding: 0.66%;
margin-bottom: 0.58;
background-color :#33b5e5;
color: #ffffff;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
background-color: #0099cc;
}

aside p {
height: 8.33%;
padding: 0.66%;
padding-bottom: 23%;
margin: 0;
background-color :#33b5e5;
color: #ffffff;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.camiseta{
  border: 1px solid blue;
  margin-top: 3%;
  width: 280px;
  height: 280px;

}

/*Para cualquier tamaño*/
[class*="col-"] {
  float: left;
  padding: 1.25%;
}

section {
  display:block;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

/********** Dispositivos grandes **********/
@media screen and (min-width: 992px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 74.99%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}

  .header img{
    max-height: 120px;
  }
}

/*Dispositivos medianos*/
@media screen and (max-width: 992px) and (min-width: 769px) {
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 74.99%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}

  aside img{
    display: none;
  }
}




/* Para dispositivos pequeños: */
@media screen and (max-width: 768px) {
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 74.99%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}

  .menu1{
    display: none;
  }
  aside img{
    display: none;
  }
}
