ul li{
  border: 1px solid #7C7C7C;
  width: 180px;
  background-color: #F4F4F4;
  list-style-type: none;
  padding: .2em 0 .2em .5em;
}
ul li:hover{
  background-color: rgb(99, 99, 99);
  color: green;
}
a{
  text-decoration: none;
  color: black;
}
