ul,ul li{
  margin:0;padding:0;list-style:none;
}
h1,h2,h3,p,form{
  margin:0;padding:0;
}
.clear{
  clear:both;
}
img{
  border:none;
}
#contenedor{
  width:90%;max-width:900px;
  width:expression(document.body.clientWidth> 901? "900px":"auto");
  margin:0 auto;
  border-style: none;
}
#cabecera,#menu,#lateral,#contenido,#contenido #principal,#contenido #secundario,#pie{
  /*border:2px solid #777;*/
  padding: 0.5em;
  /*border-style: none;*/
}
#cabecera{
  clear:both;
  padding: 1em;
}
#menu{
  clear:both;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
#lateral{
  float:left;width:20%;
}
#contenido{
  float:right;width:78%;
}
#contenido #principal{
  float:left;width:78%;
}
#contenido #secundario{
  float:right;width:20%;
  border: 1px solid #CC6600;
}
#pie{
  clear:both;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#cabecera #logo{
  float:left;
}
#cabecera #buscador{
  float:right;
}
#menu ul#menu_principal li{
  display:inline;float:left;
}
#contenido #principal .articulo img{
  width:100px;float:left;
}
#pie .enlaces{
  float:left;
}
#pie .copyright{
  float:right;
}
#cabecera,#menu,#lateral,#lateral #noticias,#lateral #pub,#contenido,#contenido #principal,#contenido #secundario,#pie{
  padding:.5em;
}
#lateral{
  padding:0;

}
#cabecera{
  padding:1em;
}
#menu{
  margin-bottom:.5em;
  border-bottom: 1px solid #004C99;
}
#contenido{
  width:77%;padding:0;
}
#contenido #principal{
  width:73%;
}
#pie{
  padding:.5em 0;margin-top:1em;
  border-top: 1px solid #C5C5C5;
  border-bottom: 1px solid #C5C5C5;
}
#contenido #principal .articulo{
  margin-bottom:1em;
  padding: 1em;
}
#contenido #principal .articulo img{
  margin:.5em;
}
#lateral #pub{
  margin-top:1em;
  padding-top: 1em;
  border: 1px dashed #CC6600;
}
#noticias{
  border: 1px solid #C5C5C5;
}
