/*Reseteamos las cajas*/
*	{
	margin: 0px;
	padding: 0px;
 }

/* Para que los nuevos elementos sean tratamos como block */
header, section, footer, aside, nav, article, figure, figcaption,hgroup {
	display: block;
}

/*Centramos el elemento contenedor y alineamos normalmente dentro del contenedor*/
body {
	text-align: center;
}

#container {
	width: 100%;
	margin: 15px auto;
	text-align: left;
}

#cabecera {
	background: lightblue;
	border: 1px solid lightgray;
	padding: 20px;
  text-align: center
}

/* barra de navegación */
#menu {
	background: #CCCCCC;
	padding: 5px 15px;
}

#menu li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px verdana, sans-serif;
}
/*Aclaración inline-block: se comporta como un in-line
pero el conjunto de inlines's ocupan todo el ancho como un block.
Equivale a un float:left pero ahorramos el clear en el sig elemento.
Más info: http://www.w3schools.com/css/css_inline-block.asp
*/


/* dos columnas para los bloques de section y aside */
#seccion {
	float: left;
	width: 660px;
	margin: 20px;
	}

#columna {
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 20px;
	background: #CCCCCC;
	}

/* Pie a una columna */
#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
	width: 100%;
	}


/* ultimos retoques */
#logo{
	width: 200px;
	margin: 5px;
}
.square{
  width: 50px;
  height: 40px;
  float: left;
  margin-top: -35px;
}
article {
	border: 1px solid #999999;
	padding: 20px;
	margin-bottom: 15px;
	background: linen;
}

article footer {
	text-align: right;
	color: steelblue;
	font-weight: bold;
}

article header{
	margin-top: 10px;
	margin-bottom: 10px;
}

article hgroup {
	margin-bottom: 10px;
}

time {
	color: #999999;
}

/*Estilos de letra*/
#cabecera h1{
	font: bold 24px verdana, sans-serif;
}

article h1{
	font: bold 20px verdana, sans-serif;
}

h2 {
	font: bold 14px verdana, sans-serif;
}

figcaption {
	font: italic 12px verdana, sans-serif;
}

/*Menu horizontal*/
#first, #first-1{
  display: none
}
#element:hover, #first:hover{
  color: green;
}
#element:hover #first{
  display: block;
  position: absolute;
  width: 120px;
  left: 5px;
  background-color: lightgray;
  border: 1px solid gray;
}
#first:hover #first-1{
  display: block;
  position: absolute;
  width: 120px;
  left: 110px;
  background-color: lightgray;
  border: 1px solid gray;
}
#first-1{
	position: relative;
}
.column-J1{
  display: none
}
.column-J:hover .column-J1{
	position: relative;
  display: block;
  left:10px;
}
.column-J1:hover{
	color:blue;
}
