body{
  font-family: Verdana;
  font-size: 0.9em;
  color: rgb(17, 26, 115);
  line-height: 1.4em;
}
h1{
  border: 1px solid;
  padding: 10px;
  text-transform: capitalize;
  border-radius:5px;
  text-align: center;
  /*Poner sombra a los h1*/
  box-shadow: 5px 5px 5px #999;
  max-width: 100%;
  /*La palabra se corta*/
  white-space: nowrap;
}
p{
  text-indent: 1cm;
}
a{
  text-decoration: none;
}
a:visited{
  color: rgb(13, 130, 46);
  font-style: italic;
}
