body{
  font-family: Verdana;
  font-weight: 0.9;
  color: rgb(17, 26, 115);
  line-height: 1.4em;
  background-image:url('http://www.fandroides.com/wp-content/uploads/2014/05/wall4.jpg');
}
h1{
  border: 1px solid blue;
  padding: 10px;
  text-transform: capitalize;
  border-radius:5px;
  background-image:url('https://1.bp.blogspot.com/_sD9yQTE5QZQ/SGvRFJbT6QI/AAAAAAAADg4/5Ot2-aTA4_w/s400/blue1961.jpg');
  background-repeat: repeat-x;
  color:white;
  text-align: center;
}
p{
  text-indent: 1cm;
}
a{
  text-decoration: none;
}
a:visited{
  color: rgb(13, 130, 46);
  font-style: italic;
}
.google{
  background: #FFF url('https://lh3.googleusercontent.com/-xYZqmxfbPl8/AAAAAAAAAAI/AAAAAAAAK4A/6u2rpaIpA7o/s46-c-k-no/photo.jpg') no-repeat left center;
}
.facebook{
  background: #FFF url('http://imag.malavida.com/mvimgbig/download-s/facebook-10161-0.jpg') no-repeat left center;
}
.yahoo{
  background: #FFF url('http://images.downloadastro.com/icon/yahoo_maps_64_64.jpeg.pagespeed.ce.Zp48i9tntt.png') no-repeat left center;
}
#back:visited{
  background-color: rgb(0, 41, 255);
}
#back:hover{
  background-color: yellow;
}
