div{
  padding-top: 0.5em;
}
input{
  border-radius: 5px;

}
div label{
  width: 11%;
  float:left;
}
div select{
  margin-left: 6%
}
.note{
  border: 1px dashed black;
  width: auto;
  margin-left: 1%;
  font-style: italic;
}
div input:focus, select{
  outline: none;
  border: 1px solid rgba(195, 9, 251, 0.75);
  background-color:grey;
}
#inscription{
  max-height: 40px;
}
input[type="text"]{
  padding: 0.4em;
}
