ul li{
  border: 1px solid #7C7C7C;
  width: 180px;
  background-color: #F4F4F4;
  list-style-type: none;
  padding: .2em 0 .2em .5em;
  display:inherit;
}

ul li:hover{
  background-color: rgb(99, 99, 99);
  color: green;
}

.first, .second{
  display: none;
}

#element1:hover .first, #element2:hover .second{
  display: block;
  overflow: hidden;
}

.first li, .second li{
  border:none;
  border-bottom: 2px solid black;
}
