@import import.css;
/*Usamos punto para llamar a las clases*/
/*En caso de ser un id es con #*/
                                                  /*Ejercicio 1-4*/
.foto{
  width: 200px;
  height: 200px;
  margin-left: 0.5%;
}
.Tfoto{
  margin-left: 2%;
}
                                                  /*Ejercicio 5*/
#cuarto{
  color:red;
}
