/* HEADER */
.navbar-default{
  background-color: #BDBDBD;
  margin: 0px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Arial', serif;
  color: #55773e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #111;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .8;
}

#collapsable-nav{
  padding: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin: 0px;
  background: #E7E7E7
}

#nav-list a {
  color: black;
  border: 1px solid #fff;
}

#nav-list a:hover {
  background: #C5C5C5;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.75em;
}

h2 {
  float: right;
  border: 1px solid black;
  width: 186px;
  text-align: center;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 1.25em;
}

p {
  clear: both;
  background-color: #ABABAB;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: 15px;
  margin-bottom: 10px;
  color: white;
  font-size: 1em;
  overflow: hidden;
}

/*The cells incluide a margin between sections */
.cell{
margin-right: 10px;
margin-left: 10px;
margin-bottom: 20px;
padding-bottom: 5px;
background-color: #ABABAB;
border: 1px solid black;
}

/*There are three classes of title: one for each color*/
.title_red{
  background-color: #FE2E2E;
  color: white;
}

.title_salmon{
  background-color: #F79F81;
}

.title_sand{
  background-color: #F5DA81;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}
