*{
	box-sizing: border-box;
}

body{
	font-family: Verdana;
}

li a {
	color: black;
	text-decoration: none;
	width: 140px;
}

#continentes {
	list-style-type: none;
}

#continentes li{
	list-style-type: none;
	display: inline-block;
	background-color: #f0f0f0;
	border:0.5px solid gray;
	width: 140px;
	text-align: center;
}

#continentes li:hover{
	background-color: #aaa;
  	border: 0.5px solid gray;
}

#continentes .pulsado{
	background-color: #ccc;
	border: 1px solid navy;
}
