/*Reseteamos el modelo de cajas*/
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/*Estilo base*/
body {
  font-family: "Coiny", sans-serif;
}
.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
  display: table; /*Compórtate como una tabla*/
  width:100%;
}
/*div.logo y h1 se comportan como celdas de la tabla*/
.logo{
  display: table-cell;
  vertical-align: middle;
}
.logo img{
  max-width: 120px;
  width: 75%;
  height: auto;
  margin: 10px;
}
.header h1{
  vertical-align: middle;
  display: table-cell;
  text-transform: capitalize;
}
.footer {
background-color: #9933cc;
color: #ffffff;
padding: 15px;
text-align: center;
}
.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.menu li {
padding: 8px;
margin-bottom: 7px;
background-color :#33b5e5;
color: #ffffff;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
background-color: #0099cc;
}

.banner{
  border:1px solid #33b5e5;
  margin-top: 10px;
  text-align: center;
}

.banner img{
  width:85%;
  height: auto;
  margin:5px;
}

aside p {
height: 100px;
padding: 8px;
background-color :#33b5e5;
color: #ffffff;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*Para cualquier tamaño*/
[class*="col-"] {
  float: left;
  padding: 15px;
}

section {
  display:block;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

/********** Dispositivos grandes **********/
@media (min-width: 992px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 74.99%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}

/********** Dispositivos medianos **********/
@media (min-width: 768px) and (max-width:991px) {
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 74.99%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
  .ocultar-md{
    display:none;
  }
  .invisible-md{
    visibility: hidden;
  }
  /*Pongo el logo para tamaño mediano*/
  .logo {
      width: 90px;
      height: 90px;
      background-image: url('../imagen-md.png');
      background-repeat: no-repeat;
  }
}

/********** Dispositivos pequeños **********/
@media (max-width: 767px) {
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 74.99%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}

  .ocultar-sm{
    display:none;
  }
  .invisible-sm{
    visibility: hidden;
  }
  /*Pongo el logo para tamaño pequeño*/
  .logo {
      width: 75px;
      height: 75px;
      background-image: url('../imagen-sm.png');
      background-repeat: no-repeat;
      margin: 5px;
      padding: 5px;
  }
}
