/*Reseteo cajas*/
* {
    margin: 0;
    padding: 0;
  }

/*Centramos body*/
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/*Tamaño de fuentes relativo*/
h2 {
  font-size: 2em;
}

/*Dimensionamos el contenedor*/
.container {
  width: 80%;
  margin: 15px auto;
}

/***HTML5***/
/*Hacemos el video HTML5 responsive*/
video{
    /*Ocupa el 100% del contenedor (eso es el 50% de la página)*/
    width:100%;
    height: auto;
}
