/*Reseteamos las cajas*/
*	{
	margin: 0px;
	padding: 0px;
 }

/* Para que los nuevos elementos sean tratamos como block */
header, section, footer, aside, nav, article, figure, figcaption,hgroup {
	display: block;
}

/*Centramos el elemento contenedor y alineamos normalmente dentro del contenedor*/
body {
	text-align: center;
}

#container {
	width: 100%;
	max-width: 960px;
	margin: 1.5% auto;
	text-align: left;
}

#cabecera {
	background: lightblue;
	border: 1px solid lightgray;
	padding: 2%;
}

/* barra de navegación */
#menu {
	background: #CCCCCC;
	padding: 0.5% 1.5%;
}

#menu li {
	display: inline-block;
	list-style: none;
	padding: 0.5em;
	font: bold 0.8% verdana, sans-serif;
}
/*Aclaración inline-block: se comporta como un in-line
pero el conjunto de inlines's ocupan todo el ancho como un block.
Equivale a un float:left pero ahorramos el clear en el sig elemento.
Más info: http://www.w3schools.com/css/css_inline-block.asp
*/


/* dos columnas para los bloques de section y aside */
#seccion {
	float: left;
	width: 69%;
	margin: 2%;
	}

#columna {
	float: left;
	width: 23%;
	margin: 2% 0px;
	padding: 2%;
	background: #CCCCCC;
	}

/* Pie a una columna */
#pie {
	clear: both;
	text-align: center;
	padding: 2%;
	border-top: 2px solid #999999;
	}


/* ultimos retoques */
img{
	width: 21%;
	max-width: 200px;
	margin: 0.5%;
}

article {
	border: 1px solid #999999;
	padding: 2%;
	margin-bottom: 1.5%;
	background: linen;
}

article footer {
	text-align: right;
	color: steelblue;
	font-weight: bold;
}

article header{
	margin-top: 1%;
	margin-bottom: 1%;
}

article hgroup {
	margin-bottom: 1%;
}

time {
	color: #999999;
}

/*Estilos de letra*/
#cabecera h1{
	font: bold 1.5% verdana, sans-serif;
}

article h1{
	font: bold 1.25% verdana, sans-serif;
}

h2 {
	font: bold .8% verdana, sans-serif;
}

figcaption {
	font: italic .75% verdana, sans-serif;
}
/*Para pasar de px a % debemos de dividir el numero de pixeles/pixeles totales de la pantalla*/

/*
Ejemplo: margin: 15px = 15/960(Tamaño total de pixeles de pantalla)*100=1.5%
*/
