/*Reseteamos las cajas*/
*	{
	margin: 0px;
	padding: 0px;
 }

/* Para que los nuevos elementos sean tratamos como block */
section, footer, aside, nav, article, figure, figcaption,hgroup {
	display: block;
}

header{
	display: table;
	width: 100%;
}

/*div.logo y h1 se comportan como celdas de la tabla*/
.logo{
  display: table-cell;
  vertical-align: middle;
}
.logo img{
  width: 80px;
}
header > h1{
	display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color:lightblue;
  text-transform: capitalize;
  font: bold 2em Helvetica, sans-serif;
}


/*Centramos el elemento contenedor y alineamos normalmente dentro del contenedor*/
body {
	text-align: center;
}

#container {
	width: 960px;
	margin: 15px auto;
	text-align: left;
}

#cabecera {
	background: lightblue;
	border: 1px solid lightgray;
	padding: 20px;
}

/* barra de navegación */
#menu {
	background: #CCCCCC;
	padding: 5px 15px;
	text-align: left;
}

#menu li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px verdana, sans-serif;
	position:relative;
}
/*Aclaración inline-block: se comporta como un in-line
pero el conjunto de inlines's ocupan todo el ancho como un block.
Equivale a un float:left pero ahorramos el clear en el sig elemento.
Más info: http://www.w3schools.com/css/css_inline-block.asp
*/

/* dos columnas para los bloques de section y aside */
#seccion {
	float: left;
	width: 660px;
	/*width: 65%;*/
	margin: 20px;
}

#columna {
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 20px;
	background: #CCCCCC;
	}

/* Pie a una columna */
#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
	width: 100%;
}


/* últimos retoques */
img{
	width: 200px;
	margin: 5px;
}

article {
	border: 1px solid #999999;
	padding: 20px;
	margin-bottom: 15px;
	background: linen;
}

article footer {
	text-align: right;
	color: steelblue;
	font-weight: bold;
}

article header{
	margin-top: 10px;
	margin-bottom: 10px;
}

article hgroup {
	margin-bottom: 10px;
}

time {
	color: #999999;
}

/*Formateo menús*/
/*Común a todos los menús*/
li a{
  text-decoration: none;
  color: black;
}

/*Menú lateral: */
aside ul li{
  list-style-type: square;
  list-style-position: inside;
}

aside ul{
	padding-left: 10px;
	display: none;
}

aside blockquote:hover ul {
    display:block;
}

aside ul li:hover{
	color:blue;
}

/*Menú horizontal*/
/*Dejamos que se muestre el segundo nivel
si hay un :hover mostrándolo como bloque.
Ponemos:
-posición absoluta
-ancho fijo
-desplazamiento izqda
*/
#menu li ul{
	display:none;
}
#menu li:hover > ul{
  display: block;
  position: absolute;
  width: 120px;
  left: 5px;
  background-color: lightgray;
  border: 1px solid gray;
}

/*Formateamos el segundo nivel del menú*/
#menu li ul li:hover {
  color: blue;
  list-style-type: disc;
}

/*Formato tercer nivel del menú horizontal*/
/*Primero: tenemos que crear una referencia en el li del que cuelga el menú*/
#menu li ul li{
  position:relative;
}

/*Estilo para el tercer menú*/
#menu li ul li:hover > ul{
  display: block;
  position: absolute;
  width: 160px;
  top:0px;
  left: 110px;
  background-color: #f0f0f0;
  border: 1px solid gray;
}

/*Estilo para el elemento del tercer menú*/
#menu li ul li ul li{
  color:gray;
}
/*Estilo para cuando haces hover en el elemento del tercer menú*/
#menu li ul li ul li:hover{
  list-style-type: square;
}


/*Estilos de letra*/
#cabecera h1{
	font: bold 24px verdana, sans-serif;
}

article h1{
	font: bold 20px verdana, sans-serif;
}

h2 {
	font: bold 14px verdana, sans-serif;
}

figcaption {
	font: italic 12px verdana, sans-serif;
}
